html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Neutral colors */
  --black001: #080808;
  --black002: #333333;
  --black003: #171717;
  --white001: #ffffff;
  --gray001: #e9ebea;
  --gray002: #f7f7f7;
  --gray003: #747474;

  --green: #9bf00b;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* navigation */
header {
  margin-bottom: 1rem;
}

nav {
  margin: 1.5rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
}

.menu__line,
.line {
  z-index: 51;
}

.line {
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--gray003);
  transition: 0.2s ease-out all;
}

.line:first-of-type {
  margin-bottom: 0.25rem;
}

.line--left {
  margin-bottom: 0;
  transform: rotate(-45deg) translateX(-0.25rem);
}

.line--right {
  transform: rotate(45deg) translateX(-0.25rem);
}

.logo {
  margin: 0 auto;
  width: 7rem;
}

.logo img {
  width: 100%;
}

.mobile--menu {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray001);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s ease-out all;
}

.desktop--menu {
  display: none;
}

.open {
  transform: translateX(0);
}

.menu a {
  font-size: 1.25rem;
  color: var(--gray003);
  font-weight: 700;
}

.menu li:not(:last-child) {
  margin-bottom: 1rem;
}

/* Header part */
.hero__section {
  background-color: var(--gray001);
  width: 100%;
}

/* carousel styles */
.carousel {
  height: 32rem;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  width: 100%;
  height: 30rem;
  transition: 0.3s ease-out transform;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
}

.carousel__description h1,
.carousel__description p {
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.carousel__image {
  height: 60%;
}

.carousel__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__nav {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__indicator {
  width: 2.5rem;
  height: 0.25rem;
  border-radius: 20px;
  background-color: gray;
}

.carousel__indicator:not(:last-child) {
  margin-right: 1.5rem;
}

.active-dot {
  background-color: var(--black001);
}

/* product cards */

.products {
  width: 100%;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

.special__grid,
.second__grid {
  grid-column: span 12;
  display: grid;
  gap: 1rem;
}

.card {
  grid-column: span 6;
  background-color: var(--gray001);
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  height: 8rem;
  overflow: hidden;
  flex: 1;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__name {
  text-align: center;
}

/* blog section */

.blog {
  background: var(--gray001);
  grid-column: span 12;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--gray001);
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.blog .img--cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__group {
  padding: 1rem 2rem;
  position: absolute;
}

.blog .img--fit {
  top: 0;
  position: absolute;
  width: 100%;
  /* object-fit: contain; */
}

.blog .img--xbox {
  top: 3rem;
}

.blog .img--skype {
  top: 3rem;
  width: 90%;
}

.blog .img--book {
  height: 55%;
  object-fit: cover;
}

.blog--big {
  height: 30rem;
}

.blog--medium {
  height: 22rem;
}

.blog--small {
  height: 18rem;
}

.blog__tag {
  font-weight: 600;
}

.blog__tag,
.blog__info {
  font-size: 0.85rem;
}
.blog__title {
  font-size: 1.325rem;
  margin: 0.5rem 0;
}

/* Modifiers */
.tag--light,
.info--light {
  color: var(--gray001);
}

.tag--dark,
.info--dark {
  color: var(--black001);
}

.title--light {
  color: var(--white001);
}

.title--dark {
  color: var(--black002);
}

.tag--primary {
  color: royalblue;
}

.tag--xbox {
  color: var(--green);
}

.blog--dark {
  background-color: var(--black003);
}

.blog--wide {
  justify-content: flex-start;
}

.blog .img--azure {
  top: 0.5rem;
  width: 90%;
  border: 0.5rem solid var(--black002);
}

.blog--xbox {
  padding-top: 3rem;
}

footer {
  padding: 0 1rem 1rem 1rem;
}

.footer__logo {
  width: 100%;
  padding: 2rem 0;
}

.footer__logo img {
  width: 6rem;
}

.list:not(:last-child) {
  margin-bottom: 2.5rem;
}

.list li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.list a {
  color: var(--black002);
  font-size: 0.85rem;
}

.list__bolder {
  font-weight: 600;
  color: var(--black002);
}

.footer__products {
  padding: 1rem 0;
  border-top: 1px solid var(--black002);
  border-bottom: 1px solid var(--black002);
}

.product {
  display: flex;
  align-items: center;
}

.product:not(:last-child) {
  margin-bottom: 2rem;
}

.product__img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.product__name {
  color: var(--black002);
  font-weight: 600;
}

.footer__copy {
  display: flex;
  flex-direction: column;
}

.copy__language {
  display: flex;
  margin: 1rem 0;
}

.copy__language img {
  margin-right: 0.5rem;
}

@media screen and (min-width: 1220px) {
  nav,
  .hero__section,
  .products,
  footer {
    margin: 0 auto;
    max-width: 1220px;
  }

  nav {
    height: 6rem;
    align-items: center;
  }

  .logo {
    cursor: pointer;
    margin: 0;
    order: -1;
  }

  .menu a {
    font-size: 1rem;
  }

  .menu li:not(:last-child) {
    margin-bottom: 0;
  }

  .menu__line {
    display: none;
  }

  .desktop--menu {
    display: flex;
    margin: 0 auto;
  }

  .desktop--menu li:not(:last-child) {
    margin-right: 3rem;
  }

  .carousel {
    height: 50rem;
  }

  .carousel__track {
    height: 47rem;
  }

  .carousel__description {
    padding-top: 1rem;
  }

  .carousel__image {
    height: 90%;
  }

  .products,
  .special__grid,
  .second__grid {
    padding: 0;
    grid-template-columns: repeat(12, 65px);
    gap: 40px;
  }

  .card {
    grid-column: span 3;
  }

  .blog {
    grid-column: span 6;
  }

  .blog--big {
    height: auto;
  }

  .blog--medium {
    height: auto;
  }

  .blog--small {
    height: auto;
  }

  .blog--wide {
    grid-column: span 12;
  }

  .special__grid {
    grid-column: span 12;
    display: grid;
    grid-template-rows: 25rem 10rem 10rem 20rem;
  }

  .item-one {
    grid-row: span 2;
  }

  .item-three {
    grid-row: span 2;
  }

  .item-four {
    grid-row: span 2;
  }

  .item-four .img--fit {
    height: 70%;
  }

  .blog--wide {
    grid-column: span 12;
    height: 30rem;
  }

  .second__grid {
    grid-template-rows: 20rem 10rem 10rem 30rem;
  }
  .item-eight {
    grid-row: span 2;
  }

  .item-nine {
    grid-row: span 3;
  }

  .item-ten {
    grid-row: span 2;
  }

  .item-eleven {
    grid-row: span 2;
  }

  footer {
    margin-top: 5rem;
    padding: 0;
  }

  .list__wrapper,
  .footer__products {
    display: flex;
    justify-content: space-between;
  }

  .product:not(:last-child) {
    margin-bottom: 0rem;
  }

  .product {
    padding: 1rem 0;
  }

  .footer__copy {
    flex-direction: row;
  }

  .footer__copy .list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .footer__copy li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
